.tree-view {
    height: 100%;
    width: 100%;

    display: flex;

    flex-shrink: 0;
    flex-grow: 0;

    justify-content: center;
    align-items: center;
}

.tree-view .background {
    display: flex;

    flex-shrink: 0;
    flex-grow: 0;

    justify-content: center;
    align-items: center;

    /*width: 400%;*/
    /*height: 400%;*/

    background: transparent;
}

.tree-view .button-grid {
    position: absolute;
    z-index: 50;
    top: .5vw;

    display: flex;
    justify-content: space-between;

    width: 95%;
}

.tree-view .stage-button-container {
    display: flex;
    gap: 10%;
    white-space: nowrap;
}

.tree-view .stage-button {
    width: 150px;
    height: 30px;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;

    background: rgba(0, 0, 0, .3);

    transform: scale(1);
    transition-duration: .2s;
}

.tree-view .stage-button.clicked {
    background: rgba(0, 0, 0, .7);
    color: white;
}

.tree-view .stage-button:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

.tree-view .control-button-container {
    display: flex;
    gap: 10%;
}

.tree-view #center-button {
    width: 200px;
}

.tree-view .control-button {
    width: 100px;
    height: 40px;
    border-radius: 10px;

    background: rgba(0, 0, 0, .3);

    transform: scale(1);
    transition-duration: .2s;
}

.tree-view .control-button:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

.tree-view .tree-container {
    display: flex;

    /*border-radius: 30px;*/
    /*border: solid 10px black;*/

    /*background-color: rgba(0, 0, 0, .2);*/

    overflow: hidden;

    padding: 50px;

    animation: slide .5s;
}

.tree-view .tree-container > .tree {

    /*flex-direction: row;*/

    gap: 150px;
    outline: 0;
}

.tree-view .tree {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: start;
    align-items: center;

    padding: 5px 20px;

    gap: 10px;

    /*outline: dotted black 3px;*/
}

.tree-view .label {
    position: absolute;

    text-align: center;
    white-space: nowrap;

    top: -25px;
}

.tree-view .branch {
    position: relative;
    
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-evenly;
    gap: 120px;

    padding: 50px;

    /*outline: solid black 3px;*/
}

.tree-view .branch > .label {
    width: 100%;

    font-size: 32px;
    font-weight: bolder;

    left: 0;
    top: -40px;
}

@keyframes slide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}