.tree-view-alt {
    display: flex;

    justify-content: start;

    width: 99%;
    height: 98%;

    gap: 5px;
}

.tree-view-alt .card-container {
    flex-grow: 1;

    position: relative;
    display: none;
    flex-direction: column;

    gap: 5px;

    overflow: auto;

    animation: slide .5s;

}

.tree-view-alt .card-container.folded {
    flex-grow: 0;
    overflow: scroll;

    min-width: 20px;
}

.tree-view-alt .card-container.folded::-webkit-scrollbar {
    display: none;
}

.tree-view-alt .card {
    position: relative;

    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    border-radius: 10px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;

    cursor: pointer;
}

.tree-view-alt .card-container.folded > .card {
    flex-direction: row;
    writing-mode: vertical-rl;

    animation: slide 1.5s;
}

.tree-view-alt .card.details {
    outline: solid black 5px;
    outline-offset: -5px;

    justify-content: start;
    align-content: center;

    background: rgba(0, 0, 0, 0.6);

    color: antiquewhite;
    text-shadow: 2px 4px 3px rgba(255, 255, 255, .3);

    overflow: auto;

    cursor: default;
}

.tree-view-alt .card.clicked {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: rgba(50, 50, 93, 0.95) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.tree-view-alt .card > h1 {
    display: flex;
    flex-direction: column;

    text-align: center;

    font-size: 24px;
    font-weight: bold;
}

.tree-view-alt .card.details > h1 {
    position: absolute;
    top: 0;
    left: 0;

    width: 60%;

    margin: 0;
    padding: 2%;

    text-align: start;
    font-size: 42px;
}

.tree-view-alt .card.details > iframe {
    position: absolute;
    bottom: 5%;

    width: 80%;

    margin-left: auto;
    margin-right: auto;

    aspect-ratio: 16/9;
}

.tree-view-alt .card.details > .status-info-container {
    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(255, 255, 255, .6);

    width: 30%;
    height: 50px;

    border-radius: 10px;
}

.tree-view-alt .card.details > .status-info-container > span {
    font-size: 24px;
    margin-left: 10%;
}

.tree-view-alt .card.details > .status-info-container > .image-container {
    height: 80%;
    filter: brightness(0) invert(1);
}

.tree-view-alt .card > .image-container {
    display: flex;
    justify-content: center;

    width: 80%;
    max-height: 50px;
}


.tree-view-alt .card-container.folded > .card h1 {
    display: none;
    overflow: hidden;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
